
      <!-- Page Content-->
      <main class="page-content">
        <section class="bg-breadcrumbs text-center text-sm-left txt-white section-sm-55 section-15">
          <div class="shell">
            <ol class="breadcrumb">
              <li><a href="./">Home</a></li>
              <li class="active">Our Projects</li>
            </ol>
            <h1 class="offset-top-20">Our Projects</h1>
          </div>
        </section>
        <!--Section The Main Areas of Work-->
        <section class="section-50 section-md-120">
          <div class="shell">
            <h3 class="divider-sm-mod-1 divider-sm text-center">The Main Areas of Work</h3>
            <div class="range text-center">
              <div class="cell-md-3 cell-xs-6"><span class="icon icon-lg-round icon-yellow-round icon-shadow mdi-spellcheck"></span>
                <h5 class="offset-top-15 offset-md-top-25 txt-gray-darker"> Copywriting</h5>
              </div>
              <div class="cell-md-3 cell-xs-6 offset-top-40 offset-xs-top-0"><span class="icon icon-lg-round icon-emerland-round icon-shadow mdi-chart-bar"></span>
                <h5 class="offset-top-15 offset-md-top-25 txt-gray-darker">SEO Optimization</h5>
              </div>
              <div class="cell-md-3 cell-xs-6 offset-top-40 offset-md-top-0"><span class="icon icon-lg-round icon-shake-round icon-shadow mdi-share-variant"></span>
                <h5 class="offset-top-15 offset-md-top-25 txt-gray-darker">Social Media Marketing</h5>
              </div>
              <div class="cell-md-3 cell-xs-6 offset-top-40 offset-md-top-0"><span class="icon icon-lg-round icon-primary-round icon-shadow mdi-palette"></span>
                <h5 class="offset-top-15 offset-md-top-25 txt-gray-darker">Web Design</h5>
              </div>
            </div>
          </div>
        </section>
        <!--Section Cases-->
        <section class="section-50 section-md-120 bg-downriver">
          <div class="shell">
            <h3 class="divider-sm-mod-1 divider-sm text-center txt-white">Cases</h3>
            <div class="range">
              <div class="cell-sm-6 cell-md-12">
                <div class="project-block">
                  <div class="project-left"><img src="images/projects-1-370x318.jpg" alt="" width="370" height="318"></div>
                  <div class="project-body text-center text-md-left">
                    <h5 class="txt-primary"><a href="#">Economics & Strategy for Business</a></h5>
                    <p>To be successful, your company needs not only to be promoted on the Internet. A successful business owner also has to understand how business and financial strategies work. Let’s examine this question in detail.</p>
                    <div class="reveal-inline-block offset-lg-top-54 offset-top-20">
                      <div class="h4 txt-primary">-3%</div>
                      <p>Expenses</p>
                    </div>
                    <div class="reveal-inline-block">
                      <div class="h4 txt-emerland">+17%</div>
                      <p>Profit</p>
                    </div><a href="#" class="btn btn-sm-3 btn-shake btn-icon btn-icon-left btn-shadow btn-rect pull-md-right offset-lg-top-54 offset-top-20 reveal-block reveal-sm-inline-block"><span class="icon icon-md mdi-presentation"></span><span> more details</span></a>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-12 offset-md-top-30">
                <div class="project-block">
                  <div class="project-left"><img src="images/projects-2-370x318.jpg" alt="" width="370" height="318"></div>
                  <div class="project-body text-center text-md-left">
                    <h5 class="txt-primary"><a href="#">Project Management</a></h5>
                    <p>Project management is an application of professional knowledge and skills to certain project activities. This term also includes managing your subordinates that may be both experienced and new, but must be qualified to complete the project.</p>
                    <div class="reveal-inline-block offset-lg-top-54 offset-top-20">
                      <div class="h4 txt-primary">-4%</div>
                      <p>Expenses</p>
                    </div>
                    <div class="reveal-inline-block">
                      <div class="h4 txt-emerland">+7%</div>
                      <p>Profit</p>
                    </div><a href="#" class="btn btn-sm-3 btn-shake btn-icon btn-icon-left btn-shadow btn-rect pull-md-right offset-lg-top-54 offset-top-20 reveal-block reveal-sm-inline-block"><span class="icon icon-md mdi-presentation"></span><span> more details</span></a>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-12 offset-top-30">
                <div class="project-block">
                  <div class="project-left"><img src="images/projects-3-370x318.jpg" alt="" width="370" height="318"></div>
                  <div class="project-body text-center text-md-left">
                    <h5 class="txt-primary"><a href="#">Partnership — The Heart of Business</a></h5>
                    <p>Partnership is always the key reason of any company’s success. Each partner contributes a lot of resources (money, labor, skill etc.) to all aspects of the business, making it more sustainable.</p>
                    <div class="reveal-inline-block offset-lg-top-54 offset-top-20">
                      <div class="h4 txt-primary">-5%</div>
                      <p>Expenses</p>
                    </div>
                    <div class="reveal-inline-block">
                      <div class="h4 txt-emerland">+10%</div>
                      <p>Profit</p>
                    </div><a href="#" class="btn btn-sm-3 btn-shake btn-icon btn-icon-left btn-shadow btn-rect pull-md-right offset-lg-top-54 offset-top-20 reveal-block reveal-sm-inline-block"><span class="icon icon-md mdi-presentation"></span><span> more details</span></a>
                  </div>
                </div>
              </div>
              <div class="cell-xs-12 text-center offset-top-55">
                <ul class="pagination-custom">
                  <li class="disabled"><span class="icon mdi-arrow-left-bold icon-md"></span></li>
                  <li class="disabled"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li class="disabled"><span>...</span></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#" class="icon mdi-arrow-right-bold icon-md"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </main>
      
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
